<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU PRINCIPAL</li>

            <!-- Nomencladores -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Nomencladores</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('type_index') }}"><i class="fa fa-circle-o"></i> Tipos</a></li>
                    <li><a href="{{ path('brand_index') }}"><i class="fa fa-circle-o"></i> Marcas</a></li>
                    <li><a href="{{ path('model_index') }}"><i class="fa fa-circle-o"></i> Modelos</a></li>
                    <li><a href="{{ path('department_index') }}"><i class="fa fa-circle-o"></i> <span>Departamentos</span></a></li>
                    <li><a href="{{ path('hotel_index') }}"><i class="fa fa-circle-o"></i> <span>Hoteles</span></a></li>
                    <li><a href="{{ path('person_index') }}"><i class="fa fa-circle-o"></i> <span>Personas</span></a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('user_index') }}"><i class="fa fa-user-circle"></i> <span>Usuarios</span></a></li>
                    {% endif %}
                </ul>
            </li>

            <!-- Equipos en almacen -->
            <li class="">
                <a href="{{ path('equipment_index') }}">
                    <i class="fa fa-university"></i> <span>Equipos en almacen</span>
                </a>
            </li>

            <!--Invoices-->
            <li>
                <a href="{{ path('invoice_index') }}">
                    <i class="fa fa-tv"></i> <span>Facturas</span>
                </a>
            </li>

            <!-- Distribuciones -->
            <li class="treeview">
                <a href="">
                    <i class="fa fa-book"></i> <span>Distribuciones</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{#{{ path('type_index') }}#}"><i class="fa fa-circle-o"></i> Todas</a></li>
                    <li><a href="{{ path('distributioni_index') }}"><i class="fa fa-circle-o"></i> Internas</a></li>
                    <li><a href="{{ path('distributione_index') }}"><i class="fa fa-circle-o"></i> Externas</a></li>
                </ul>
            </li>

            <!-- Movimientos -->
            <li class="treeview">
                <a href="">
                    <i class="fa fa-exchange"></i> <span>Movimientos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{#{{ path('type_index') }}#}"><i class="fa fa-circle-o"></i> Todas</a></li>
                    <li><a href="{#{{ path('distributioni_index') }}#}"><i class="fa fa-circle-o"></i> Internos</a></li>
                    <li><a href="{{ path('me_index') }}"><i class="fa fa-circle-o"></i> Externos</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Reportes</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
