{% extends 'base.html.twig' %}

{% block body %}
    <h1>Distributiones list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for distributionE in distributionEs %}
            <tr>
                <td><a href="{{ path('distributione_show', { 'id': distributionE.id }) }}">{{ distributionE.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('distributione_show', { 'id': distributionE.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('distributione_edit', { 'id': distributionE.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('distributione_new') }}">Create a new distributionE</a>
        </li>
    </ul>
{% endblock %}
