{% extends 'layouts/main.html.twig' %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header" style="padding-top: 0; padding-bottom: 0">
                        <h3 class="page-header">Nueva distribuci&oacute;n </h3>
                    </div>
                    <div class="box-body" style="padding-top: 0">
                        <div class="container-fluid">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-horizontal">

                                            <!-- Fecha -->
                                            <div class="form-group">
                                                {{ form_label(form.requestDate,'Fecha:', { 'label_attr':{ 'class':'col-sm-3 control-label' } }) }}
                                                <div class="col-sm-4">
                                                    {{ form_errors(form.requestDate) }}
                                                    {{ form_widget(form.requestDate) }}
                                                </div>
                                            </div>

                                            <!-- Hoteles -->
                                            <div class="form-group">
                                                {{ form_label(form.hotel,'Hoteles:', { 'label_attr':{ 'class':'col-sm-3 control-label' } }) }}
                                                <div class="col-sm-4">
                                                    {{ form_errors(form.hotel) }}
                                                    {{ form_widget(form.hotel) }}
                                                </div>
                                            </div>

                                            <!-- Equipos -->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Equipos</label>
                                                <div class="col-sm-4">
                                                    {{ include('equipment/equipments.html.twig') }}
                                                </div>
                                            </div>

                                            <!-- Numero consecutivo de carta -->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">N&uacute;mero consecutivo</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="manual_consecutive_number" class="form-control consecutive_number" placeholder="Introdusca el numero de consecutivo" required disabled>
                                                </div>
                                            </div>

                                            <!--Generar el consecutivo-->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Generar n&uacute;mero consecutivo</label>
                                                <div class="col-sm-4">
                                                    <input type="checkbox" value="1" name="automatic_consecutive_number" class="icheck generate_consecutivo" checked>
                                                </div>
                                            </div>

                                            <!--Generar el consecutivo-->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label"></label>
                                                <div class="col-sm-4">
                                                    <input type="submit" class="btn btn-primary" value="Enviar">
                                                    <a href="{{ path('distributione_index') }}" class="btn btn-default">Regresar al listado</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div><!--/.container-fluid-->
                    </div> <!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col-md-12-->
        </div><!-- /.row -->

    </div><!-- /.content -c->
{% endblock %}
