{% extends 'base.html.twig' %}

{% block body %}
    <h1>Persones list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ci</th>
                <th>License</th>
                <th>Numberplate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personE in personEs %}
            <tr>
                <td><a href="{{ path('persone_show', { 'id': personE.id }) }}">{{ personE.id }}</a></td>
                <td>{{ personE.cI }}</td>
                <td>{{ personE.license }}</td>
                <td>{{ personE.numberPlate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('persone_show', { 'id': personE.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('persone_edit', { 'id': personE.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('persone_new') }}">Create a new personE</a>
        </li>
    </ul>
{% endblock %}
