{% extends 'base.html.twig' %}

{% block body %}
    <h1>Distributions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Requestdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for distribution in distributions %}
            <tr>
                <td><a href="{{ path('distribution_show', { 'id': distribution.id }) }}">{{ distribution.id }}</a></td>
                <td>{% if distribution.requestDate %}{{ distribution.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('distribution_show', { 'id': distribution.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('distribution_edit', { 'id': distribution.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('distribution_new') }}">Create a new distribution</a>
        </li>
    </ul>
{% endblock %}
