{% extends 'base.html.twig' %}

{% block body %}
    <h1>Distribution</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ distribution.id }}</td>
            </tr>
            <tr>
                <th>Requestdate</th>
                <td>{% if distribution.requestDate %}{{ distribution.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('distribution_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('distribution_edit', { 'id': distribution.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
