{% extends 'layouts/main.html.twig' %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Modelos</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table class="table table-hover table-condensed">
                            <tr>
                                <th style="width: 25%">Marca</th>
                                <th style="width: 28%">Modelo</th>
                                <th>Acciones</th>
                            </tr>
                            {% for model in models %}
                                <tr>
                                    <td>{#<i class="fa fa-television"></i>#}
                                        <div class="label label-success">
                                            {{ model.brand.type }}
                                        </div> &nbsp;
                                        {{ model.brand }}
                                    </td>
                                    <td>{{ model.name }}</td>
                                    <td>
                                        <a href="{{ path('model_edit',{ 'id' : model.id }) }}" class="link-tooltip" data-placement="top" title="Editar">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="javascript:void(0)"
                                           class="link-tooltip link-eliminar"
                                           data-url="{{ path('model_delete',{ 'id':model.id }) }}"
                                           data-toggle="modal"
                                           data-target="#modal-delete"
                                           data-placement="top"
                                           title="Eliminar"
                                        >
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div><!-- /.box-body -->

                    <div class="container-fluid">
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.brand)}}
                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        {{ form_widget(form.name)}}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-floppy-open"></span>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- ./col -->
        </div>
    </section>
{% endblock %}