{% extends 'layouts/main.html.twig' %}

{% block content %}

    <div class="content">

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="page-header">
                    <p style="margin-left: 28%; margin-bottom: 0">Agregar distribuci&oacute;n interna</p>
                </h3>
            </div>
            <div class="box-body">
                <div class="container-fluid">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">

                                    <!-- Equipments -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Equipos:</label>
                                        <div class="col-sm-4">
                                            <select required class="form-control selectpicker equipments" data-live-search="true" title="Seleccione el tipo de equipo" name="equipments">
                                                {% for equipment in equipments if equipment.cantidad >0%}{# puse la condicion para q en el select solo se muestren los typos de equipos q tienen algo en almacen#}
                                                    <option value="{{ equipment[0].name }}" data-subtext="{{ equipment.cantidad }}">
                                                        {{ equipment[0].brand.type.name }} {{ equipment[0].brand }} {{ equipment[0].name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <!--una vez q haga onchage aqui se mostraran la cantidad de equipos q tiene en el almacen-->
                                        <div class="col-sm-1">
                                            <h4 style="font-size: 16px; margin-top: 10%">
                                                <span class="label label-info show-cant">0</span>
                                            </h4>
                                        </div>
                                    </div>

                                    <!-- Personas -->
                                    <div class="form-group">
                                        {{ form_label(form.persons,'Personas:', { 'label_attr':{ 'class':'col-sm-3 control-label' } }) }}
                                        <div class="col-sm-4">
                                            {{ form_errors(form.persons) }}
                                            {{ form_widget(form.persons) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-3"></label>
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn btn-primary" onclick="checkFormAndPutAnimation(event)">
                                                <span class="glyphicon glyphicon-floppy-save"></span>   Guardar
                                            </button>
                                            <a href="{{ path('distributioni_index') }}" class="btn btn-default">Regresar al listado</a>
                                        </div>
                                    </div>
                                </div><!-- /.form-horizontal-->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->

                    {{ form_end(form) }}
                </div><!-- /.container-fluid -->
            </div> <!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.content -->

{% endblock %}
