{% extends 'layouts/main.html.twig' %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header" style="margin-top: 5px">
                        <center><h2 class="box-title">Equipos disponibles en almacen</h2></center>

                        {#<div class="box-tools">#}

                        {#</div>#}
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container-fluid">
                                <a href="{{ path('equipment_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Agregar equipos </a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="container-fluid">
                                <div class="count">
                                    Total de equipos: <span class="badge"> {{ pagination.getTotalItemCount }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <div class="container-fluid">
                                <form class="form-inline" action="{{ path('equipment_index') }}" method="get" style="margin-bottom: 2px">
                                    <input type="text" class="form-control" placeholder="Buscar" name="filter">
                                    <button type="submit" class="btn btn-success">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive {#no-padding#}">

                        <table class="table table-hover table-condensed">
                            <tr>
                                <th>{% include 'layouts/include/order.html.twig' with {name:' Tipo', column: 't.name'} %}</th>
                                <th>{% include 'layouts/include/order.html.twig' with {name:' Marca', column: 'b.name'} %}</th>
                                <th>{% include 'layouts/include/order.html.twig' with {name:' Modelo', column: 'm.name'} %}</th>
                                <th>{% include 'layouts/include/order.html.twig' with {name:' NI', column: 'e.ni'} %}</th>
                                <th>{% include 'layouts/include/order.html.twig' with {name:' NS', column: 'e.ns'} %}</th>
                                <th>{% include 'layouts/include/order.html.twig' with {name:' Introducido en', column: 'e.createAt'} %}</th>
                                <th>Acciones</th>
                            </tr>
                            {% for equipment in pagination %}
                                <tr>
                                    <td>{{ equipment.model.brand.type }}</td>
                                    <td>{{ equipment.model.brand }}</td>
                                    <td>{{ equipment.model }}</td>
                                    <td>{{ equipment.ni }}</td>
                                    <td>{{ equipment.ns }}</td>
                                    <td>{% if equipment.createAt %}{{ equipment.createAt|date('d-m-Y H:i:s') }}{% endif %}</td>
                                    <td>
                                        <a href="{{ path('equipment_edit', { 'id': equipment.id }) }}" data-placement="top" title="Editar" class="link-tooltip">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="javascript:void(0)"
                                           class="link-tooltip link-eliminar"
                                           data-url="{{ path('equipment_delete',{ 'id':equipment.id }) }}"
                                           data-toggle="modal"
                                           data-target="#modal-delete"
                                           data-placement="top"
                                           title="Eliminar"
                                        >
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- ./col -->
        </div>
    </section>

    {{ include('layouts/include/modals.html.twig') }}
{% endblock %}