{% extends 'layouts/main.html.twig' %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="page-header">Agregar equipo</h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            {{ form_start(form) }}
                            {#<div class="col-md-12">#}
                                <div class="form-horizontal">

                                    <!--types-->
                                    {#<div class="show_types">#}
                                        {#{{ include('layouts/include/types.html.twig') }}#}
                                    {#</div>#}

                                    {#<!--Marca-->#}
                                    {#<div class="show_brands">#}
                                        {#{{ include('layouts/include/brands.html.twig') }}#}
                                    {#</div>#}

                                    <!--Modelo -->
                                    <div class="show_models">

                                        {{ include('layouts/include/models.html.twig') }}
                                    </div>

                                   <!-- Description -->
                                    <div class="form-group">
                                        {{ form_label(form.description,'Descripción :', { 'label_attr':{ 'class':'col-sm-3 control-label' } }) }}
                                        <div class="col-sm-4">
                                            {{ form_errors(form.description) }}
                                            {{ form_widget(form.description) }}
                                        </div>
                                    </div>

                                    <!-- createAt -->
                                    <div class="form-group">
                                        {{ form_label(form.createAt,'Fecha :', { 'label_attr':{ 'class':'col-sm-3 control-label' } }) }}
                                        <div class="col-sm-2">
                                            {{ form_errors(form.createAt) }}
                                            {{ form_widget(form.createAt) }}
                                        </div>
                                    </div>

                                    <!--cantidad de medios a introducir-->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Cantidad :</label>
                                        <div class="col-sm-1">
                                            <input class="form-control cantidad" required type="text" name="cantidad">
                                        </div>
                                    </div>

                                    <!--NI Aleatorios o Consecutivos-->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">N. Inv/N. Serie :</label>
                                        <div class="col-sm-4">
                                            <input required type="radio" value="1" name="select_ni_type" class="icheck radio_generate_ni"> Aleatorios
                                            <input required type="radio" value="2" name="select_ni_type" class="icheck radio_generate_ni"> Consecutivos
                                        </div>
                                    </div>

                                    <!--Aqui se generaran los ni y los ns q le diga en la cantidad-->
                                    <div class="show_inputs_ni_ns">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-3"></label>
                                        <div class="col-sm-5">
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-floppy-open"></span> Guardar
                                            </button>
                                            <a href="{{ path('equipment_index') }}" class="btn btn-default">Regresar al listado</a>
                                        </div>
                                    </div>

                                </div>
                            {#</div><!-- /.col-md-5 -->#}
                            {{ form_end(form) }}
                        </div><!-- /.container-fluid -->
                    </div> <!-- /.box-body -->

                </div><!-- /.box -->
            </div><!-- /.col-md-12-->
        </div><!-- /.row -->

        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class='col-sm-6'>#}
                    {#<div class="form-group">#}
                        {#<div class='input-group date' id='datetimepicker1'>#}
                            {#<input type='text' class="form-control" />#}
                            {#<span class="input-group-addon">#}
                        {#<span class="glyphicon glyphicon-calendar"></span>#}
                    {#</span>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<script type="text/javascript">#}
                    {#$(function () {#}
                        {#$('#datetimepicker1').datetimepicker();#}
                    {#});#}
                {#</script>#}
            {#</div>#}
        {#</div>#}

    </div><!-- /.content -->
{% endblock %}
