{% extends 'layouts/main.html.twig' %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header" style="margin-top: 5px">
                        <h3 class="box-title">Movimientos externos</h3>

                        <a href="{{ path('me_new') }}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span> Agregar movimiento </a>
                        <div class="box-tools">
                            <form class="form-inline" action="{{ path('me_index') }}" method="get" style="margin-bottom: 2px">
                                <input type="text" class="form-control" placeholder="Buscar" name="filter" {% if filter is defined %}value="{{ filter }}" {% endif %}>
                                <button type="submit" class="btn btn-success" onclick="putAnimation()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive {#no-padding#}">

                        <table class="table table-hover table-condensed">
                            <tr>
                                <th>No</th>
                                {#<th>{% include 'layouts/include/order.html.twig' with {name:'Id', column: 'm.movementId'} %}</th>#}
                                <th style="width: 20%">{% include 'layouts/include/order.html.twig' with {name:' Hotel', column: 'h.name'} %}</th>
                                <th>{% include 'layouts/include/order.html.twig' with {name:' Fecha', column: 'm.date'} %}</th>
                                <th style="width: 20%">{% include 'layouts/include/order.html.twig' with {name:' Trasladado por', column: 'm.name'} %}</th>
                                <th style="width: 40%">Equipos</th>
                                <th style="width: 5%">Doc. Esc</th>
                                <th style="width: 10%">Acciones</th>
                            </tr>
                            {#{% for me in mes %}#}
                            {% for me in pagination %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    {#<td>{{ me.movementId }}</td>#}
                                    <td>{{ me.hotel.name }}</td>
                                    <td>{% if me.date %}{{ me.date|date('d-m-Y') }}{% endif %}</td>
                                    <td>
                                        <div class="hide_details">{{ me.name }}</div>
                                        <div class="show_details">
                                            <b>Nombre :</b> {{ me.name }}<br>
                                            <b>CI :</b> {{ me.cI }}<br>
                                            <b>Cargo :</b> {{ me.ocupation }}<br>
                                            <b>Licencia :</b> {{ me.license }}<br>
                                            <b>Chapa :</b> {{ me.numberPlate }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="hide_details"></div>
                                        <div class="show_details">
                                            {% for equipment in me.equipments %}
                                                {{ equipment.model.brand.type }} {{ equipment.model.brand }} {{ equipment.model }} {{ equipment.ni }}/{{ equipment.ns }}<br>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <!--documentacion escaneada-->
                                    <td>
                                        {% if( me.documentFile != null) %}
                                            <a href="{{ asset('uploads/me/' ~ me.documentFile) }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Ver documentación escaneada">
                                                <span class="glyphicon glyphicon-book"></span>
                                            </a>
                                        {% else %}
                                            <a href="javascript:void(0)"
                                               data-toggle="modal"
                                               data-target="#upload_scan_document_file"
                                               data-placement="top"
                                               title="Adjuntar documentacion escaneada"
                                               class="link-tooltip link-upload-file"
                                               upload-data-url="{{ path('upload_scan_document_me',{'id':me.id}) }}"
                                               onclick="setActionFormUrlMeUploadFile(this)"
                                            >
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" data-placement="top" title="Ver detalles" class="link-tooltip" onclick="toogleDetails(this)">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                        {#<a href="javascript:void(0);" data-placement="top" title="Imprimir" class="link-tooltip">#}
                                            {#<span class="glyphicon glyphicon-print"></span>#}
                                        {#</a>#}
                                        <a href="{{ path('me_edit', { 'id':me.id }) }}" data-placement="top" title="Editar" class="link-tooltip">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="javascript:void(0)"
                                           class="link-tooltip link-eliminar"
                                           data-url="{{ path('me_delete',{ 'id':me.id }) }}"
                                           data-toggle="modal"
                                           data-target="#modal-delete"
                                           data-placement="top"
                                           title="Eliminar"
                                        >
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- ./col -->
        </div>
    </section>

    {{ include('layouts/include/modals.html.twig') }}

{% endblock %}
