{% extends 'layouts/main.html.twig' %}

{% block content %}

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Movimientos externos</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table class="table table-hover table-condensed">
                            <tr>
                                <th>Id</th>
                                <th>Personname</th>
                                <th>Personci</th>
                                <th>Numberplate</th>
                                <th>License</th>
                                <th>Acciones</th>
                            </tr>
                            {% for mE in pagination %}
                                <tr>
                                    <td><a href="{{ path('me_show', { 'id': mE.id }) }}">{{ mE.id }}</a></td>
                                    <td>{{ mE.personName }}</td>
                                    <td>{{ mE.personCi }}</td>
                                    <td>{{ mE.numberPlate }}</td>
                                    <td>{{ mE.license }}</td>
                                    <td>
                                        <a href="{{ path('me_show', { 'id': mE.id }) }}"class="link-tooltip" data-placement="top" title="Editar">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="javascript:void(0)"
                                           class="link-tooltip link-eliminar"
                                           data-url="{{ path('me_delete',{ 'id':brand.id }) }}"
                                           data-toggle="modal"
                                           data-target="#modal-delete"
                                           data-placement="top"
                                           title="Eliminar"
                                        >
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- ./col -->
        </div>
    </section>
{% endblock %}
